*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    color: #ededed;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 0.6s ease forwards;


}
.navbar a{
    display: inline-block;
    font-size:25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    opacity: 0;
    animation: slidetop .5s ease forwards;
}
.navbar a:hover{
    color:#0ef ;
}
.text{
    color: #0ef;
}
.home{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url("https://img.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg?w=996&t=st=1703754840~exp=1703755440~hmac=073f358e99f3f73c33880e76ba90fe5692be4944563fb24901ac1cd2e841ed6c");
    background-size: cover;
    display: flex;
    background-position: center;
    align-items: center;
    padding: 70px 10% 0;
}
.homecontent{
    max-width: 600px;
}
.homecontent h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidedown .5s ease forwards;


}
.homecontent h3:nth-of-type(2){
    margin-bottom: 30px;
}
.homecontent h1{
    font-size: 56px;
    font-weight: 700;
    margin:-3px 0;
    animation: slideRight .5s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
.homecontent p{
    font-size: 20px;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent;
    border: 2px solid #0ef;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    border-radius: 50%;

}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;

}
.btn-box{
    margin-top: 25px;
    display: inline-flex;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600px;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,
    0 0 50px cyan,
    0 0 200px cyan;

}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slidetop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slidedown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideleft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}